.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #62716f;
  height: 8vh;
  width: 100%;
}
.users {
  margin: 1%;
  font-size: 0.7em;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}
